#root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

#banner {
    background-image: url('../src/logo.png');
    /* background-color: green; */
    width: 100%;
    height: 180px;
    background-position:center;
    background-repeat:no-repeat;
    /* background-attachment: fixed; */
	/* background-size:cover; */
}

#feed {
    /* background-image: url('../src/ghibli.png');
    background-position:center;
	background-repeat:no-repeat;
    background-size:cover;  
    width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

/* hr {
    width: 100%;
    border: 5px solid black; 
    margin: 0;   
} */

button {
    border: 3px solid black;
    margin: 5px;
}

.Feed-Container {
    background-image: url(./Ghibli-Background-Attempt3.jpg);
    background-attachment: fixed;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 10px
}
.Feed-Container-empty {
    background-image: url(./Ghibli-Background-Attempt3.jpg);
    background-attachment: fixed;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100em;
    margin-top: 0;
    margin-bottom: 10px
}

#buttons {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    margin-left: 100px;
}

#page-header {
background-color: #1469AA;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
color: black;
position: fixed;
top: 0;
z-index: +1;
}



